td {
  width:16.6666666666666666%;
}
body {
  background-color: lightblue;
}
.image_attributes {
  border-style: solid;
  border-color: black;
  height: 300px;
  border-radius: 14px;
}
a:hover{
background-color: magenta;
}
a:link{
color: blue;
}
a:visited{
color: pink;
}
