td {
  width:16.6666666666666666%;
}
body {
  background-color: lightblue;
}
.info  {
  font-size: 20px;
}
.image_attributes {
  border-style: solid;
  border-color: black;
  height: 300px;
  border-radius: 14px;
}
