td {
  width:16.6666666666666666%;
}

#info {
  font-size: 20px;
}

.div-attributes{
  width: 40%;
  float: right;
  padding-top: 10px;
}
img {
height: 300px;
border-radius: 15px;
}
body {
background-color: lightgreen;
}
a:hover{
background-color: magenta;
}
a:link{
color: blue;
}
a:visited{
color: pink;
}

